.marquee {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .marquee-track {
    display: flex;
    align-items: center;
    white-space: nowrap;
    will-change: transform;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }


  .marquee-track-left {
    animation-name: marquee-left;
  }


  .marquee-track-right {
    animation-name: marquee-right;
  }

  .marquee-text {
    display: block;
    margin: 0 2vw;
    font-size: 1.2vw;
    font-weight: 700;
  }


  @keyframes marquee-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }


  @keyframes marquee-right {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }
