.marquee {
    overflow: hidden; /* Hide overflowing content */
    position: relative;
    width: 100%;
  }

  .marquee-track {
    display: flex;
    align-items: center;
    white-space: nowrap;
    will-change: transform;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  /* For animation moving to the left (default) */
  .marquee-track-left {
    animation-name: marquee-left;
  }

  /* For animation moving to the right */
  .marquee-track-right {
    animation-name: marquee-right;
  }

  .marquee-text {
    display: block;
    margin: 0 2vw;
    font-size: 1.2vw;
    font-weight: 700;
  }

  /* Keyframes for left direction */
  @keyframes marquee-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  /* Keyframes for right direction */
  @keyframes marquee-right {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }
